<h2 class="text-center home-header-title text-bold">
  Daniel Hood
</h2>
<h5 class="text-center home-header-sub-title text-bold">
  Front-End Software Engineer
</h5>
<h5 class="text-center home-header-sub-bullets">
  User Experience • Client & Server • Web & Native Mobile Platforms • Linux, Mac, Windows
</h5>
