<nav id="header-responsive" class="page-container">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="#">Home</a>
    </li>
    <li class="navbar-item">
      <a href="#">About</a>
    </li>
    <li class="navbar-item">
      <a href="#">Blog</a>
    </li>
  </ul>
</nav>
